body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.logo {
    width: 222px;
    margin-bottom: -50px;
}

.login-form form {
    text-align: center;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-bottom-color 0.3s ease;
}

.input-box input:focus {
    border-bottom-color: #007bff;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: #333;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -15px;
    font-size: 12px;
    color: #007bff;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 20px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}
